<div class="jumbotron">
</div>
<div class="container">
  <div class="row">


    <%= render('layouts/sidenav') %>

    <div class="col-md-7">
      <h1>Terms of service</h1>
      The terms of use (hereinafter referred to as the “Terms”) are the sites operated by Actindi Co., Ltd. (hereinafter referred to as the “Company”), “Let's go” (hereinafter referred to as “Let's go”) and it shall be accepted by all users (hereinafter referred to as "user") who use the functions provided by the software and the software, and shall apply to all use of the applications provided by Let's Go.

      <h2>1. About information of Let's Go</h2>
      <h5>(1) Spot information and event information published on Let's Go</h5>

      [1] Information posted by facilities and event operators (hereinafter referred to as "places and event information")
      <ol type="A">
        <li> Spot information </li>
        <li> Event information </li>
        <li> Notice </li>
        <li> Coupon </li>
      </ol>

      [2] Information posted by the user (hereinafter referred to as "word review")
      <ol type="A">
        <li> Comments </li>
        <li> Memories (thing that has been set public) </li>
        <li> Event joined </li>
        <li> Experience notes, outing summary, outing diary, experience summary, 
            a part of the images of recommended course (e) article (NEWS) </li>
        <li> In addition, the user includes a comment to post using Let's Go Texts, videos, images, and other materials / information that can be posted </li>
      </ol>

      Although the above information is being reviewed after the preliminary review and site release in the editorial department review division, the user will accept and use the responsibility of this agreement for the post and the content of the post. 
      <br/>
      Although Let's Go has a system that can be edited by facilities and event operators and user members for the purpose of constantly updating to better information, there are cases where errors in information and inappropriate information are posted.

      <h5>(2) There is also information (account name etc.) that will be released to the public when registering a user member, so check the registration / setting items and make it public after confirming the user member registration form, profile setting screen, and others.<br/> Please check about non-disclosure. 
      In addition, regardless of the presence or absence of confirmation, the published information shall be accepted in advance by oneself.</h5>

      <h2>2. Security</h2>
      Users shall prepare their own usage environment and take measures against security such as computer virus infection, unauthorized access and information leakage prevention under their own responsibility. 
      In addition, about member registration of Let's Go, we use encryption communication technology SSL (SecureSocketLayer) on the Internet, and information to be sent is encrypted so that third party can not see.

      <h2>3. Account, password registration and management</h2>
      <h5>(1) Services that require registration, such as membership services, questionnaires, and campaigns (external services such as twitter, Facebook, LINE, etc. that cooperate with services provided by Internet) (hereinafter referred to as "external services". In the case of using), the user shall input and transmit the exact necessary matters in the manner specified by our company, and shall examine the registration in our company. The timing of the examination is not only at the time of registration, but once registration has been accepted, it is possible to cancel the registration without notifying the user at the timing that the Company deems inappropriate. In addition, transfer, sale, name change, etc. shall not be permitted at all for the ID, password, and other rights obtained by the registration to Let's Go. In addition, if we decide that we may damage a third party for any reason, and if we decide that it is inappropriate to maintain the registration status, we will register immediately without prior notice. The data can be limited, suspended or deleted, and no compensation will be made for any damage caused by the user.</h5>

      <h5>(2) The user shall be responsible for the registration, management, etc. of the login account and password (including the login account and password of the external service, hereinafter referred to as "login account etc." hereinafter the same.) The Company shall not be liable for any damages caused by inadequate management of users, errors in use, or use by third parties. 
      In addition, the user shall use the service related to the login account etc. (including services operated by other companies, hereinafter the same) under his / her responsibility, and the operation of the service regarding the use of the service In accordance with the terms of The Company shall not be liable for any damages arising from the use of services related to login accounts, etc., and for any troubles that may arise between the service operator and the user.</h5>

      <h2>4. About personal information protection</h2>
      Please refer to the handling of personal information . https://iko-yo.net/terms/policies/personal_data

      <h2>5. About information use of Let's Go</h2>
      <h5>(1) Prohibition of diversion and resale</h5>
      <ol>
        <li> The user, regardless of all or part of the offer provided by the Company, may use or for the purpose of business activities or other for-profit activities or activities equivalent thereto or preparatory activities therefor. It shall not be accessed. In addition, it shall not be used or accessed for purposes such as religious activities or political activities. </li>
        <li> It is prohibited to use the information such as the reviews posted to Let's Go without permission. However, the person who made the post is excluded. </li>
        <li> Unless we specifically accept the terms and conditions, such as the use of the review by the person who posted the review, etc., if we benefit from using the review etc. posted on Let's Go, our company Shall have the right to claim the amount of the benefit. </li>
      </ol>
      <h5>(2) Change / stop of programs, systems, functions, etc.</h5>
      We may change the programs, systems, functions, etc. provided to users at our convenience. In addition, in the event of a disaster, accident or other emergency, we may stop working. In addition, even if the user or a third party suffers damage by changing or stopping the service without obtaining the user's consent in advance, the Company shall not make any compensation.

      <h5>(3) Equipment required for use</h5>
      In order to use Let's Go, you need to have internet access. With regard to the access, it is necessary to have the necessary equipment and software properly prepared and operated by their own responsibility and expense, and our company is involved in the preparation, method etc. for the user to access. not.

      <h5>(4) Posting such as word-of-mouth communication and copyright etc.</h5>
      <ol>
        <li>When posting reviews, etc. to Let's Go, user member registration is required.</li>
        <li> When posting a review etc. to Let's Go, please comply with the guidelines that we set separately. These guidelines constitute a part of this agreement, and including these guidelines is this agreement.</li>
        <li> When a user member submits a review etc. to a user member, the user member does not pay the compensation to the company regardless of whether the company designated by the company or the person concerned is concerned with the word Non-exclusively the right to use freely (including copying, public transmission, distribution, assignment, lending, translation, adaptation) without any restrictions (rights of Articles 21 to 28 of the Copyright Act) The right to use and the sublicense right are included) until the expiration date of the term of the copyright concerned. The user member shall not exercise the author's moral right related to the word of mouth, etc. to the Company and persons designated by the Company.</li>
        <li> The user member is assured that they have all rights under the Copyright Act, such as reproduction, public transmission, distribution, translation, adaptation, etc., regarding reviews submitted by the user member. Please be very careful about the existence of the rights under the Right Act. In addition, when posting using a third party's work, etc., it shall be assumed that the right processing necessary for the permission in [3] above has been performed at the responsibility and burden of the user member. Therefore, please be very careful in posting when using the work of a third party.</li>
        <li> The Company or a third party who has received a re-license from the Company may use the reviews, etc. of user members for providing content to the Company's site or affiliated sites. At this time, a part of the user member's word of mouth, etc. may be summarized or excerpted, or some modifications may be made, such as resizing or clipping of the posted picture (image). In addition, when using a user member's review, etc., the account name and nickname when the user member posted may be displayed. We will use the word of mouth of the user member with extreme caution, but please contact us if the modification infringes the user member's honor or voice.</li>
        <li> If we or a third party who has received a re-license from us, using word-of-mouth, etc. of the user member, there shall be no regional restrictions, no obligation to display copyright, or any other accompanying conditions. The period of time is as long as the copyright of the user member persists. In addition, compensation such as royalty shall not occur at all.</li>
        <li> We do not provide any compensation for damages received by user members or third parties as a result of the use of word of mouth by user members or by third parties.</li>
        <li> Content posted or provided, including advertisements, is protected by copyright law, trademark law, etc.</li>
      </ol>
      <h5>(5) Collaboration with external services</h5>
        <ol>
          <li> When logging in using the linkage function with an external service, a user member may be asked for permission for our company to access data, and if such content is checked and then permitted As long as the link function can be used. Furthermore, even if leakage to a third party occurs as a result of the Company's access to data, the Company assumes no responsibility.</li>
          <li> With regard to the use of all external services (including posting to external services such as reviews created by user members) including registration and use of user IDs of external services, user members operate external services In accordance with the terms of</li>
          <li> When posting a review etc. in Let's Go, if a user member uses the linkage function with an external service, we will post it by adding a URL to a web page related to the relevant review etc. It shall be agreed in advance.</li>
          <li> When using an external service, the user member shall use the service under his / her own responsibility, and the Company shall be liable for damages caused by using the service, the operator / user of the service, etc. Shall not be liable for any troubles or any other matters related to the service.</li>
        </ol>
      <h5>(6) About release of places event information and close examination of contents</h5>
      <ol>
        <li> The places event information posted on Iko-yo is posted under the responsibility of the facility / event operator, and we can not answer any questions or suggestions regarding the content of the event. In addition, we will not be responsible for any matters related to the service of the event.</li>
        <li> For incidents / accidents / disputes that occur as a result of visiting a places listed in Let's Go or participating in an event, users shall resolve directly with the event organizer, and we will We shall not be liable for anything.</li>
        <li> About the contents of the places event information The contents are confirmed in the range of the information posted in advance, and the posting process is performed, so the placess and events not suitable for the purpose and purpose of the event described below Has not posted. In addition, I can not answer at all about the reason for refusing publication.
          <ol type="a">      
            <li> Place events where drinking (alcohol intake) is the main event (eg: ○ ○ beer festival) </li>
            <li>places events that include gambling content (eg: try to buy a lottery and get ○ ○) </li>
            <li> In addition, it is places event that the editorial department judged that it does not suit the purpose and purpose of Let's Go</li>
          </ol>
        </li>
      </ol>
      <h2>6. Disclaimer, damages</h2>
      Please use Let's Go at your own risk. In addition, each of the following items shall be used upon prior approval. In addition, the Company shall not be liable for any damage caused by the use of the user, and for any damage caused by a failure, error or failure that has occurred.

      <h5>(1) Spot event information</h5>
      We do not provide any guarantee for the posted places and event information. We recommend that you check your address, opening hours, regular holidays, etc. directly by phone, etc. before making a reservation or going out. In addition, we do not take any compensation or involvement for damage caused to users by posted places and event information, troubles between users, etc.

      <h5>(2) Contents such as reviews</h5>
      We do not make any guarantees regarding the content of the posted reviews. Please use it at the discretion of the user. In addition, the Company will not be liable for any damages, etc. caused by the posted word of mouth, etc. against user's damages (including computer virus infection damage caused by various contents created by the user) and troubles between users. I will not be involved. Even if there is a dispute between user members, we shall resolve them among the user members, and we will not be liable.

      <h5>(3) Linked site</h5>
      We do not provide any warranty for the websites operated by third parties linked by Internet. Please use it at the discretion of the user. In addition, our company does not do any compensation and involvement for the damage that occurred at the link destination, the trouble between the users, etc.

      <h5>(4) Delete word of mouth</h5>
      Let's Go is a web service that consists of postings based on self-responsibility from users, but in the case where a word-of-mouth review similar to the following is found in order to give users a comfortable use, There is a case to delete the review etc. from above without notice.
      <ol>
        <li> Those that violate the guidelines </li>
        <li> Those that violate the public order and morals </li>
        <li> The purpose of the idea or those not related to the target places or event </li>
        <li> Those containing harmful program scripts etc. </li>
        <li> Items for commercial purpose, contents for personal sale, sale, transfer, things related to advertising </li>
        <li> Others, etc. that the company judged inappropriate, such as obstructing the management operation of Let's Go</li>
      </ol>
      In addition, we will judge all whether or not it corresponds to the deletion target. <br/>
      Also, 5. With regard to reviews posted on external services linked in accordance with (5), we will not take measures such as deletion, as they are displayed on services and websites operated by third parties.

      <h2>7. Notes on using coupons</h2>
      <ol>
        <li>A coupon (discounted ticket) (hereinafter referred to as a "coupon") provided by Let's Go is a facility / event operator or a facility / event operator displayed in Let's Go's places / event information A coupon created by a third party commissioned to issue coupons can be used when using the service of the Spot Event. In addition, contents of service which user can receive by coupon, validity period of coupon (hereinafter referred to as "expiration date"), usage conditions, other various conditions, etc. The user shall separately determine each coupon, and the user shall confirm these and use the coupon each time he receives the coupon.</li>
        <li> The user can use the coupon according to the company's prescribed method if the conditions of use defined by the facility / event operator or a third party are satisfied.</li>
        <li> The coupon is an anonymous credit that represents the right that the user can use in the service of the places event, and the obligor is the facility or event operator who provides the service or the coupon issuer. The user shall use the coupon at his / her own risk. The coupons can not be redeemed for cash, and we will not return changes from the facility / event operator.</li>
        <li> The Company shall not make any warranty for the service provided at the Spot Event. In addition, inquiries regarding services provided at the places event will be made directly by the user to the operator or coupon issuer, and the Company shall not be involved in this matter.</li>
        <li> In the case where the user can not obtain the coupon, for example, because the company can not access the page where the user can view and print the coupon on the website. However, we assume no responsibility for that.</li>
        <li> Coupons can be used until the expiration date indicated on the coupon.</li>
        <li> For the coupon acquired by the user, the operator of the places / event service that can use the coupon continues to operate during the term of the coupon, and the term is applicable for the term of the coupon. We do not guarantee that you can receive the service of the Spot event, that the service of the Spot event meets the user's wishes, that it is useful, etc.</li>
        <li> The user shall negotiate directly with the facility / event operator if damage or disadvantage is caused by the inability to use the coupon once issued, or by using the coupon. If we do not assume any responsibility.</li>
        <li> The Company shall provide coupons only to those residing in Japan, and exclude overseas residents.</li>
      </ol>
      <h2>8. Prohibited act</h2>
      <h5>(1) When the user uses Let's Go, I prohibit the following conduct.</h5>
      <ol>
        <li> Except when permitted by law or this agreement, reproduction, reproduction, reproduction, transmission, transfer, distribution, distribution, etc. of the information provided by Let's Go may be made by copying or other methods without our prior consent. , Resale, or storage for use for these purposes</li>
        <li> Violation of the Terms </li>
        <li> Going against public order and morals</li>
        <li> Connecting to or promoting illegal acts, criminal acts, serious dangerous acts</li>
        <li> Infringe the intellectual property rights of the Company, other users or third parties (including but not limited to copyrights, design rights, utility model rights, trademark rights, patent rights and know-how) To do</li>
        <li> Illegally infringing the rights or interests of other users or third parties, or that</li>
        <li> To disturb the management of the company or damage our credit</li>
        <li> Filing false declarations when registering user memberships</li>
        <li> The same person performs multiple user member registration</li>
        <li> Unauthorized use of ID and password or use by other users or third parties</li>
        <li> Others, that the Company deems inappropriate</li>
      </ol>
      <h5>(2) If the user has made an action that the Company deems inappropriate in the light of the act or the purpose and purpose of the preceding item, or if the user makes an action against the user, It is possible to take measures such as the suspension of use or other measures that the Company deems appropriate (hereinafter referred to as “the suspension measures”.) The suspension measures depend on the user's responsability. In addition, we can do based on our discretion and judgment, and we can not answer the user for any reason for taking the measures for stopping the use, and in addition, using the measures for stopping the use The Company shall not be liable for any damages incurred by the person.</h5>

      <h2>9. Copyright, property right and other rights</h2>
      <ol>
        <li> Content contained and individual information, copyright regarding trademark, image, advertisement, design etc., trademark right and other intellectual property right, and other property right are all our company or legitimate right Belongs to the</li>
        <li> All software used in conjunction with, or related to, includes property rights and trade secrets protected by intellectual property rights laws and regulations.</li>
        <li> If the user is permitted to use or use the Company or a third party who has copyright or other intellectual property right and other property right, or if it is used by law without permission from the right holder or Copy, edit, alter, post, reprint, public transmit, distribute, sell, provide, translate, adapt, or any other use or use of the contents of Let's Go and Let's Go, except where permitted. Do not go.</li>
        <li> Reproduction and quoting of content, including word of mouth, etc., can in principle be made only by the Company or a legitimate right holder. Reproduction and quoting by users shall apply to the Company in advance, and reproduction -It can be done in a form that satisfies the requirements for proper citation as defined in Article 32 of the Copyright Act, only if the content of the citation is confirmed by our company and accepted by our company.</li>
        <li> A user who has obtained permission to reprint and quote the Company (hereinafter referred to as "user") is the name of the service that is the owner of the right and the name of the content that is the source of the license at the time of reprinting and quoting. And we shall specify the URL.</li>
        <li> The Company shall not be liable for any damages caused by the User and the User against the preceding items, and the User and the User benefited from these actions. In this case, the Company shall have the right to claim the amount of profits and the amount of damages incurred in the event of damage.</li>
        <li> Withdrawal procedure
          <ol type="a">
            <li> If a user member wishes to withdraw, the Company shall perform the prescribed withdrawal procedure.</li>
            <li> The User Member shall lose all rights related to the User Member's account used by the Company if the withdrawal procedure is performed.</li>
            <li> The User Member shall agree in advance that the contents of the review, etc. posted by him / her will not be deleted by the withdrawal procedure.</li>
          </ol>
        </li>
      </ol>
      <h2>11. About the service under development</h2>
      We may provide services under development as part of the services we provide or as services independent of us. 
      The user understands that the service under development is provided by its nature as it may include defects such as bugs, bugs, malfunctions, etc. that do not operate normally. 
      We may change the content of the service under development at any time without prior notice or may stop or stop the provision of the service under development if we deem it necessary. 
      We do not make any warranty for the completeness, accuracy, applicability, availability, availability, safety, certainty, etc. of the service under development.

      <h2>12. Modification of the Terms</h2>
      We may change the contents of the Terms, in which case we will notify you by means of a notice on the other hand or in a manner that we deem appropriate. If notified, the change takes effect, and the user accepts the change.

      <h2>13. Liability</h2>
      The user shall be responsible for all actions taken by him / her and all events resulting therefrom, in the event of damage to the Company or a third party, The user shall be liable for the damages.
      <ol>
        <li> All claims caused by or in connection with infringement of the right to the Company or a third party due to the content sent by the user and the use of the service by the user, all actions taken by the user, or Users shall be responsible for their own responsibility and shall be settled by themselves.</li>
        <li> All claims caused by or in connection with the infringement of the right to the Company or a third party due to the content sent by the user and the use of the service by the user, and all the actions taken In the case of claims, if we incur compensation, proceeding costs, court costs, investigation costs, and expenses related to them, we shall be able to request the user to pay these total amounts.</li>
        <li> It is assumed that the user performs registration to Iko-yo and deletes the data without prior notification regarding the data stored using the Iko-yo function, and the damage of the user at that time Will not be compensated for at all. (Because 100% storage can not be promised, including natural disasters, please make sure that you keep it at your own risk)</li>
      </ol>
      <h2>14. Inquiry</h2>
      For inquiries to our company, we will not accept contact by telephone or visit, but we will accept by email (info@iko-yo.net) .

      <h2>15. Governing law and jurisdiction</h2>
      <ol>
        <li> If a lawsuit arises between the user and the Company, the Hanoi District Court shall be the exclusive agreement jurisdictional court of the first trial.</li>
        <li> These terms and conditions shall be interpreted in accordance with the laws of Vietnam.</li>
      </ol>
      <p class="pull-right">December 2008 Enactment and enforcement<br> 
                            October 2014 Revised <br>
                            February <br>
                            2015 Revised November 2015 Revised <br>
                            May 2016 Revised <br>
                            December 2016 Revised</p>


    </div>

    <div class="col-md-3">
      <%= render('layouts/advertisement') %>

      <div class="card mt-2">
        <div class="card-header">
          Featured Places
        </div>
        <div class="card-body">
          <h5 class="card-title">Phố đi bộ Hồ Gươm</h5>
          <p>bla bla</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Phố đi bộ Hồ Gươm</h5>
          <p>bla bla</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Phố đi bộ Hồ Gươm</h5>
          <p>bla bla</p>
        </div>
      </div>

    </div>
  </div>
</div>