<div class="row">
    <% if current_user.admin? %>
      <%= render('layouts/adminsidenav') %>
    <% else %>
      <%= render('layouts/providersidenav') %>
    <% end %>
    <div class="col-md-7">
        <h1>New Event</h1>
        <%= render 'form', event: @event %>
        <%= link_to 'Back', events_path %>
    </div>
</div>
